@import "../library.blocks/bootstrap/bootstrap-reboot";

.page-preloader {
  position: fixed;
}

.block-image {
  min-height: 240px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

ul {
  &.d-inline-flex,
  &.d-flex,
  &.form-row,
  &.row {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
}

.h2-bold {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}