@import "../library.blocks/bootstrap/bootstrap-reboot";

.mh-100vh {
  min-height: 600px;
  min-height: 100vh;
}

ul {
  &.d-inline-flex,
  &.d-flex,
  &.row {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
}