@import "../../library.blocks/bootstrap/bootstrap-reboot";

.offer-reviews__title {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.offer-reviews__total-rating {
  display: inline-block;
}

@include media-breakpoint-down(sm) {
  .offer-reviews__total-rating {
    margin-left: auto;
  }
}