@import "../../library.blocks/bootstrap/bootstrap-common";

.list-of-most-popular-cities {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.list-of-most-popular-cities__item {
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  min-height: 350px;
  background-color: $dark;
  border-radius: $card-border-radius;
}
.list-of-most-popular-cities__caption {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.list-of-most-popular-cities__title {
  font-size: 1.5rem;
  font-weight: normal;
  color: $white;
}