@import "../../library.blocks/bootstrap/bootstrap-reboot";

.modal-registration__footer {
  justify-content: center;
  margin-bottom: -60px;
  font-size: 1.125rem;
  border-width: 0;
}
.modal-registration__content {
  background-color: $light;
}
.modal-registration__legend {
  text-align: center;
}

.modal-registration__authorization-link {
  color: rgba($white, .8);
  transition: $transition-base;
  @include hover-focus-active() {
    color: $white;
    text-decoration: none;
  }
}