@import "../../library.blocks/bootstrap/bootstrap-reboot";

.password-recovery-modal__content {
  background-color: $light;
}
.password-recovery-modal__footer {
  justify-content: center;
  margin-bottom: -60px;
  font-size: 1.125rem;
}
.password-recovery-modal__footer-link {
  color: rgba($white, .8);
  transition: $transition-base;
  @include hover-focus-active() {
    color: $white;
    text-decoration: none;
  }
}