@import "../../library.blocks/bootstrap/bootstrap-reboot";

.form-car-rental {
  background-image: url(#{$rootDir}/templates/sections/services/services__car.png);
  background-repeat: no-repeat;
  background-position: 550px 100px;
}