@import "../../library.blocks/bootstrap/bootstrap-reboot";

.page-offer__article h2,
.page-offer__complex h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.page-offer__place {
  color: $text-muted;
}
.page-offer__how-it-works {
  .how-it-works {
    height: 260px;
  }
}
.page-offer__aside {
  max-width: 375px;
}

.page-offer__aside-toggle {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin-left: auto;
  transition: $transition-base;
  &.active {
    .page-offer__aside-toggle-caption-hide { display: inline-block; }
    .page-offer__aside-toggle-caption-show { display: none; }
  }
  &.active + .page-offer__aside {
    transform: translateX(0);
  }
}
.page-offer__aside-toggle-caption-hide {
  display: none;
}

@include media-breakpoint-down(lg) {
  .page-offer__aside-toggle {
    display: inline-block;
  }
  .page-offer__aside {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding: $card-spacer-y;
    background-color: $white;
    border-left: $border-color 1px solid;
    overflow-y: auto;
    z-index: 99;
    transform: translateX(375px);
    transition: $transition-base;
    -webkit-overflow-scrolling: touch;
  }
}

@include media-breakpoint-down(sm) {
  .page-offer {
    .breadcrumb {
      display: none;
    }
  }

  .page-offer__article {
    h2 {
      font-size: $h4-font-size * .875;
    }
  }
}
@include media-breakpoint-down(xs) {
  .page-offer {
    .form-booking {
      padding: 0;
      background-color: initial;
    }
    .form-booking__table {
      background-color: $light;
    }
  }
}