@import "../../library.blocks/bootstrap/bootstrap-reboot";

.offer-employed-by {
  position: relative;
  height: 2rem;
}
.offer-employed-by__message {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: $white;
}