@import "../../library.blocks/bootstrap/bootstrap-reboot";

.offer-item {
  position: relative;
  margin-bottom: 0;
}
.offer-item__image-slider {
  list-style: none;
  padding-left: 0;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: $border-radius;
  background-color: $dark;
}

.offer-item__image.slick-slide,
.offer-item__image-slider {
  height: 240px;
}
.offer-item__image,
.offer-item__list-of-images {
  background-size: cover;
  background-position: center;
}

.offer-item__list-of-images {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $dark;
}
.offer-item__image {
  transition: $transition-base;
  &:hover {
    filter: brightness(1.1);
  }
}
.offer-item__add-to-favorites {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 12px;
  left: 12px;
  opacity: .5;
  z-index: 1;
  outline: none;
  cursor: pointer;
  transition: $transition-base;
  &:hover {
    opacity: .72;
  }
}
.offer-item__description {
  position: relative;
  padding: .75rem 0;
}
.offer-item__details,
.offer-item__special-details {
  list-style: none;
  padding: 0;
}
.offer-item__details {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-right: 50px;
  margin-bottom: 0;
  color: $text-muted;
}
.offer-item__price-value-icon.icon {
  width: 1.125rem;
  height: 1.125rem;
  margin-left: .5rem;
}
.offer-item__special-details {
  list-style: none;
  padding: 0;
  position: absolute;
  display: flex;
  align-items: flex-end;
  height: 24px;
  top: -36px;
  left: 1rem;
  right: 1rem;
}
.offer-item__country {
  flex: 1;
}
.offer-item__city {
  flex: 1 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.offer-item__country,
.offer-item__city {
  margin-bottom: .25rem;
}

.offer-item__country,
.offer-item__numbers-of-rooms,
.offer-item__type {
  position: relative;
  &:after {
    content: "|";
    padding-left: .25rem;
    padding-right: .25rem;
  }
}

.offer-item__link {
  color: $dark;
  transition: .24s;
  &:hover {
    color: $secondary;
    text-decoration: none;
  }
}
.offer-item__title {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-transform: initial;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: .5rem;
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 2.4rem;
    right: 0;
    bottom: 0;
    background-color: $white;
    top: 0;
    box-shadow: $white 0 0 24px 24px;
  }
}

.bg-light {
  .offer-item__price-per-day,
  .offer-item__price,
  .offer-item__title:before {
    background-color: $light;
  }

  .offer-item__price,
  .offer-item__title:before {
    box-shadow: $light 0 0 24px 24px
  }
}

.offer-item__price-per-day,
.offer-item__price {
  display: flex;
  align-items: flex-start;
  position: absolute;
  right: 0;
  line-height: 1;
  background-color: $white;
  box-shadow: $white -15px 0 10px -5px;
}
.offer-item__price-currency {
  font-size: 1.125rem;
  margin-top: 5px;
}
.offer-item__price {
  top: -1rem;
  color: $secondary;
  font-size: 2.25rem;
}
.offer-item__price-per-day {
  bottom: 0;
  color: $gray-700;
  font-size: 1.125rem;
}
.offer-item__reliable-host {
  position: absolute;
  right: 0;
  margin-right: 0;
}

@include media-breakpoint-up(lg) {
  .offer-item__image-slider {
    &:hover {
      .slick-prev,
      .slick-next {
        opacity: .5;
        &:hover {
          opacity: 1;
        }
      }
    }
    .slick-prev,
    .slick-next {
      opacity: 0;
    }
  }

  .offer-item__image.slick-slide,
  .offer-item__image-slider {
    height: 200px;
  }
}