@import "../../library.blocks/bootstrap/bootstrap-reboot";

.reviews-slider {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  .offer-item__details {
    display: none;
  }
  .offer-item__image.slick-slide,
  .offer-item__image-slider {
    height: 240px;
  }
}