@import "../../library.blocks/bootstrap/bootstrap-reboot";

.offer-page__article {
  h2 {
    font-size: $h4-font-size;
    font-weight: 600;
  }
}
.offer-page__place {
  color: $text-muted;
}
.offer-page__how-it-works {
  .how-it-works {
    height: 260px;
  }
}

@include media-breakpoint-up(md) {
  .offer-page__aside {
    max-width: 375px;
  }
}