@import "../../library.blocks/bootstrap/bootstrap-reboot";

.list-of-main-characteristics {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  text-align: center;
}
.offer-page__place {
  color: $text-muted;
}

.offer-page__how-it-works {
  .how-it-works {
    height: 260px;
  }
}

@include media-breakpoint-up(md) {
  .offer-page__aside {
    max-width: 375px;
  }
}