@import "../../library.blocks/bootstrap/bootstrap-reboot";

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.icon_size_48 {
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
}
.icon_size_32 {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
}
.icon_size_20 {
  width: 1.25rem;
  height: 1.25rem;
  min-width: 1.25rem;
  min-height: 1.25rem;
}
.icon_size_16 {
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
}

.icon_style_dark {
  filter: brightness(0) invert(.2);
}
.icon_style_gray {
  filter: brightness(0) invert(.5);
}
.icon_style_light {
  filter: brightness(0) invert(1);
  &.icon__pets { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__pets_style_light.svg); }
  &.icon__air-conditioner { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__air-conditioner_style_light.svg); }
  &.icon__tv { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__tv_style_light.svg); }
  &.icon__heart { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__heart_style_light.svg); }
  &.icon__close { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__close_style_light.svg); }
  &.icon__book { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__book_style_light.svg); }
  &.icon__check { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__check_style_light.svg); }
  &.icon__eye { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__eye_style_light.svg); }
  &.icon__blocked { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__blocked_style_light.svg); }

  &.icon__group { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__group_style_light.svg); }
  &.icon__suitcase { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__suitcase_style_light.svg); }
  &.icon__profile { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__profile_style_light.svg); }
  &.icon__megaphone { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__megaphone_style_light.svg); }
  &.icon__bank { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__bank_style_light.svg); }
  &.icon__pencil { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__pencil_style_light.svg); }
  &.icon__book { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__book_style_light.svg); }
  &.icon__review { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__review_style_light.svg); }
  &.icon__car { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__car_style_light.svg); }
  &.icon__poster { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__poster_style_light.svg); }
  &.icon__coins { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__coins_style_light.svg); }
  &.icon__credit-card { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__credit-card_style_light.svg); }
}

.icon_style_primary {
  &.icon__group { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__group_style_primary.svg); }
  &.icon__suitcase { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__suitcase_style_primary.svg); }
  &.icon__profile { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__profile_style_primary.svg); }
  &.icon__megaphone { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__megaphone_style_primary.svg); }
  &.icon__bank { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__bank_style_primary.svg); }
  &.icon__pencil { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__pencil_style_primary.svg); }
  &.icon__book { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__book_style_primary.svg); }
  &.icon__review { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__review_style_primary.svg); }
  &.icon__car { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__car_style_primary.svg); }
  &.icon__poster { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__poster_style_primary.svg); }
  &.icon__coins { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__coins_style_primary.svg); }
  &.icon__credit-card { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__credit-card_style_primary.svg); }
}

.icon__security { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__security.svg); }
.icon__cafe { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__cafe.svg); }
.icon__massage { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__massage.svg); }
.icon__sea { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__sea.svg); }
.icon__pool { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__pool.svg); }
.icon__bike { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__bike.svg); }
.icon__SPA { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__SPA.svg); }

.icon__animals { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__animals.svg); }
.icon__conditioner { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__conditioner.svg); }
.icon__guest { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__guest.svg); }
.icon__heart { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__heart.svg); }
.icon__heart_style_light { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__heart_style_light.svg); }
.icon__reliable-host { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__reliable-host.svg); }
.icon__tv { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__tv.svg); }

.icon__home { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__home.svg); }
.icon__bathroom { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__bathroom.svg); }
.icon__bed { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__bed.svg); }
.icon__door { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__door.svg); }
.icon__hotel { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__hotel.svg); }
.icon__opened-door { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__opened-door.svg); }
.icon__room { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__room.svg); }

.icon__arrow-left { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__arrow-left.svg); }
.icon__prev { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__prev.svg); }
.icon__next { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__next.svg); }

.icon__information { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__information.svg); }
.icon__air-conditioner { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__air-conditioner.svg); }
.icon__building { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__building.svg); }
.icon__cleaning { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__cleaning.svg); }
.icon__parking { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__parking.svg); }
.icon__smoking { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__smoking.svg); }
.icon__towel { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__towel.svg); }
.icon__wifi { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__wifi.svg); }
.icon__window { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__window.svg); }
.icon__stairs { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__stairs.svg); }
.icon__lamp { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__lamp.svg); }

.icon__social-facebook { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__social-facebook.svg); }
.icon__social-ok { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__social-ok.svg); }
.icon__social-vk { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__social-vk.svg); }
.icon__social-twitter { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__social-twitter.svg); }

.icon__clock { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__clock.svg); }
.icon__cabinet-user { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__cabinet-user.svg); }

.icon__sofa { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__sofa.svg); }
.icon__single-bed { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__single-bed.svg); }
.icon__bed { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__bed.svg); }
.icon__lounge { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__lounge.svg); }
.icon__duster { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__duster.svg); }
.icon__building { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__building.svg); }
.icon__balcony { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__balcony.svg); }
.icon__add-guest { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__add-guest.svg); }
.icon__deposit { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__deposit.svg); }
.icon__beach { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__beach.svg); }
.icon__bus { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__bus.svg); }
.icon__airplane { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__airplane.svg); }
.icon__time-in { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__time-in.svg); }
.icon__time-out { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__time-out.svg); }
.icon__cutlery { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__cutlery.svg); }
.icon__broom { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__broom.svg); }
.icon__children { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__children.svg); }
.icon__smoke { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__smoke.svg); }
.icon__lease-term { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__lease-term.svg); }
.icon__disabled { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__disabled.svg); }
.icon__pets { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__pets.svg); }
.icon__hot-towel { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__hot-towel.svg); }
.icon__crib { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__crib.svg); }
.icon__beds { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__beds.svg); }
.icon__pin { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__pin.svg); }
.icon__credit-card { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__credit-card.svg); }
.icon__safe-box { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__safe-box.svg); }
.icon__shield { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__shield.svg); }
.icon__lift { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__lift.svg); }
.icon__calendar { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__calendar.svg); }
.icon__safe-transaction { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__safe-transaction.svg); }
.icon__safe-deposit { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__safe-deposit.svg); }
.icon__final-cleaning { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__final-cleaning.svg); }
.icon__coffee { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__coffee.svg); }
.icon__bucket { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__bucket.svg); }
.icon__close { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__close.svg); }
.icon__breakfast { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__breakfast.svg); }
.icon__atm { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__atm.svg); }
.icon__elevator { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__elevator.svg); }
.icon__ok { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__ok.svg); }
.icon__vk { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__vk.svg); }
.icon__facebook { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__facebook.svg); }
.icon__check { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__check.svg); }
.icon__email { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__email.svg); }
.icon__phone { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__phone.svg); }
.icon__skype { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__skype.svg); }
.icon__telegram { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__telegram.svg); }
.icon__whatsapp { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__whatsapp.svg); }
.icon__viber { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__viber.svg); }
.icon__link { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__link.svg); }
.icon__blocked { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__blocked.svg); }
.icon__eye { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__eye.svg); }
.icon__language { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__language.svg); }
.icon__mobile { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__mobile.svg); }

.icon__group { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__group.svg); }
.icon__suitcase { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__suitcase.svg); }
.icon__profile { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__profile.svg); }
.icon__megaphone { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__megaphone.svg); }
.icon__bank { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__bank.svg); }
.icon__pencil { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__pencil.svg); }
.icon__poster { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__poster.svg); }
.icon__book { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__book.svg); }
.icon__review { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__review.svg); }
.icon__car { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__car.svg); }
.icon__coins { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__coins.svg); }

.icon__ { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__.svg); }

