@import "../../library.blocks/bootstrap/bootstrap-reboot";

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.icon_size_32 {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
}
.icon_size_18 {
  width: 1.125rem;
  height: 1.125rem;
  min-width: 1.125rem;
  min-height: 1.125rem;
}

.icon_style_dark {
  filter: brightness(0);
}
.icon_style_light {
  filter: brightness(0) invert(1);
}

.icon__security { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__security.svg); }
.icon__cafe { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__cafe.svg); }
.icon__massage { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__massage.svg); }
.icon__parking-place { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__parking-place.svg); }
.icon__access-to-the-sea { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__access-to-the-sea.svg); }
.icon__pool { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__pool.svg); }
.icon__bicycles-for-rent { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__bicycles-for-rent.svg); }
.icon__SPA { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__SPA.svg); }

.icon__animals { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__animals.svg); }
.icon__conditioner { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__conditioner.svg); }
.icon__guest { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__guest.svg); }
.icon__heart { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__heart.svg); }
.icon__heart_style_light { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__heart_style_light.svg); }
.icon__reliable-host { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__reliable-host.svg); }
.icon__tv { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__tv.svg); }

.icon__bathroom { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__bathroom.svg); }
.icon__bed { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__bed.svg); }
.icon__door { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__door.svg); }
.icon__home { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__home.svg); }
.icon__hotel { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__hotel.svg); }
.icon__opened-door { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__opened-door.svg); }
.icon__skyscraper { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__skyscraper.svg); }

.icon__arrow-left { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__arrow-left.svg); }
.icon__prev { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__prev.svg); }
.icon__next { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__next.svg); }

.icon__information { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__information.svg); }
.icon__air-conditioner { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__air-conditioner.svg); }
.icon__building { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__building.svg); }
.icon__cleaning { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__cleaning.svg); }
.icon__parking { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__parking.svg); }
.icon__smoking { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__smoking.svg); }
.icon__towel { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__towel.svg); }
.icon__wifi { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__wifi.svg); }
.icon__window { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__window.svg); }
.icon__stairs { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__stairs.svg); }
.icon__lamp { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__lamp.svg); }

.icon__social-facebook { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__social-facebook.svg); }
.icon__social-ok { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__social-ok.svg); }
.icon__social-vk { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__social-vk.svg); }
.icon__social-twitter { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__social-twitter.svg); }

.icon__clock { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__clock.svg); }
.icon__cabinet-user { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__cabinet-user.svg); }

.icon__sofa { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__sofa.svg); }
.icon__single-bed { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__single-bed.svg); }
.icon__bed { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__bed.svg); }
.icon__lounge { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__lounge.svg); }
.icon__duster { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__duster.svg); }
.icon__bucket { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__bucket.svg); }
.icon__building { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__building.svg); }
.icon__balcony { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__balcony.svg); }
.icon__add-guest { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__add-guest.svg); }
.icon__deposit { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__deposit.svg); }
.icon__safe-money { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__safe-money.svg); }
.icon__beach { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__beach.svg); }
.icon__bus { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__bus.svg); }
.icon__airplane { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__airplane.svg); }
.icon__time-out { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__time-out.svg); }
.icon__hanger { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__hanger.svg); }
.icon__cutlery { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__cutlery.svg); }
.icon__broom { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__broom.svg); }
.icon__children { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__children.svg); }
.icon__smoke { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__smoke.svg); }
.icon__lease-term { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__lease-term.svg); }
.icon__disabled { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__disabled.svg); }
.icon__pets { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__pets.svg); }
.icon__hot-towel { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__hot-towel.svg); }
.icon__clock { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__clock.svg); }
.icon__crib { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__crib.svg); }
.icon__ { background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__.svg); }