@import "../../library.blocks/bootstrap/bootstrap-reboot";

.noUi-target {
  box-shadow: none;
  border-radius: 24px;
  border-width: 0;
  background-color: $gray-200;
  .noUi-connect {
    background-color: $primary;
  }
  .noUi-tooltip {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }
  &.noUi-horizontal {
    height: 12px;
    .noUi-handle {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      border-width: 0;
      top: -9px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
      &:before,
      &:after {
        display: none;
      }
    }
  }
}