@import "../../../library.blocks/bootstrap/bootstrap-reboot";

@include media-breakpoint-up(md) {
  .page-car-rental__car-card {
    .card-header {
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}