@import "../../library.blocks/bootstrap/bootstrap-reboot";

.cities-tabs {
  border-radius: $card-border-radius;
  border: $card-border-width solid $card-border-color;
  background-color: $card-bg;
}
.cities-tabs__header {
  padding: $card-spacer-y $card-spacer-x;
  border-color: $border-color;
}
.cities-tabs__content {
  padding: $card-spacer-x;
}
.cities-tabs__nav {
  column-count: 5;
  column-gap: 0;
}

.cities-tabs__link {
  display: block;
  position: relative;
  padding: 0;
  padding-left: 2rem;
  color: $dark;
  transition: .36s;
  &:hover {
    text-decoration: none;
    color: $primary;
  }
  &[data-letter] {
    margin-top: .5rem;
    &:before {
      content: attr(data-letter);
      color: $primary;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 1.5rem;
      line-height: 1;
    }
  }
}

@include media-breakpoint-up(xs) {
  .cities-tabs__nav {
    column-count: 1;
  }
}
@include media-breakpoint-up(sm) {
  .cities-tabs__nav {
    column-count: 2;
  }
}
@include media-breakpoint-up(lg) {
  .cities-tabs__nav {
    column-count: 4;
  }
}
@include media-breakpoint-up(xl) {
  .cities-tabs__nav {
    column-count: 5;
  }
}
