@import "../../library.blocks/bootstrap/bootstrap-reboot";

.cities-tabs {
  [data-letter] {
    margin-top: .5rem;
    &:before {
      content: attr(data-letter);
      color: $primary;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 1.5rem;
      line-height: 1;
    }
  }
}
.cities-tabs__nav {
  column-count: 5;
  .nav-link {
    display: block;
    position: relative;
    padding: 0;
    padding-left: 2rem;
    color: $dark;
    transition: .36s;
    &:hover {
      color: $primary;
    }
  }
}

@include media-breakpoint-up(xs) {
  .cities-tabs__nav {
    column-count: 1;
  }
}
@include media-breakpoint-up(sm) {
  .cities-tabs__nav {
    column-count: 2;
  }
}
@include media-breakpoint-up(md) {
  .cities-tabs__nav {
    column-count: 3;
  }
}
@include media-breakpoint-up(lg) {
  .cities-tabs__nav {
    column-count: 4;
  }
}
@include media-breakpoint-up(xl) {
  .cities-tabs__nav {
    column-count: 5;
  }
}
