@import "../../library.blocks/bootstrap/bootstrap-reboot";

.page-header {
  border-bottom: 1px solid $border-color;
  .navbar-dark {
    .page-header__logo {
      background-image: url(#{$rootDir}/templates/common.blocks/page-header/page-header__VPUT-logo_style_dark.svg);
    }
    .page-header__to-rent-button {
      @include button-outline-variant($light);
    }
  }

  .dropdown-menu {
    border-radius: 0 0 $dropdown-border-radius $dropdown-border-radius;
  }
}
.page-header__favorites-link.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $white;
  text-decoration: none;
  padding-bottom: 4px;
}
.page-header__logo {
  width: 120px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url(#{$rootDir}/templates/common.blocks/page-header/page-header__VPUT-logo_style_light.svg);
}
.page-header__dropdown-item-exit {
  border-bottom: 3px solid $primary;
  border-radius: 0 0 $border-radius $border-radius;
  text-align: center;
  font-size: $font-size-lg;
  color: $primary;
}
.page-header__cabinet-menu-icon {
  margin-right: .5rem;
}