@import "../../library.blocks/bootstrap/bootstrap-reboot";

.form-search-offers {
  position: relative;

  .form-control[readonly] {
    background-color: $white;
  }

  .input-group,
  .custom-select,
  .custom-control {
    &:hover,
    *:hover {
      cursor: pointer;
    }
  }
  .custom-control-label {
    display: block;
  }
}
.form-search-offers__search-by-complexes-col,
.form-search-offers__cityId-col {
  min-width: 270px;
}
.form-search-offers__id-col {
  min-width: 120px;
}
.form-search-offers__guests-col,
.form-search-offers__startDate-col,
.form-search-offers__endDate-col {
  min-width: 150px;
}
.form-search-offers__slider {
  margin: auto;
  min-width: 240px;
  max-width: 90%;
  max-width: calc(100% - 50px);
}
.form-search-offers__fieldset-list {
  .form-group {
    margin-bottom: .5rem;
  }
}
.form-search-offers__fieldset {
  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.form-search-offers__options-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.form-search-offers__other-filters-toggle-button {
  &:not(.collapsed) {
    background-color: $primary;
    color: $white;
  }
}
.form-search-offers__cities-tabs-toggle {
  &:not(.collapsed) {
    border-color: $primary;
  }
}

.form-search-offers__is_short {
  .col {
    flex: 1 15%;
  }
  .form-search-offers__cityId-col {
    flex: 1 35%;
  }
  .form-search-offers__show-booked,
  .form-search-offers__id-col,
  .form-search-offers__other-filters-col,
  .form-search-offers__search-by-complexes-col {
    display: none;
  }
}

.form-search-offers__cities-dropdown {
  margin-bottom: .5rem;
}
.form-search-offers__cities-dropdown-close {
  position: fixed;
  background-color: $red;
  right: 0;
  top: 0;
  padding: .5rem;
  border-bottom-left-radius: $border-radius;
  z-index: 99;
  display: none;
}

@include media-breakpoint-up(xl) {
  .form-search-offers__search-by-complexes-button {
    max-width: 80%;
  }
}
@include media-breakpoint-down(md) {
  .form-search-offers__cities-dropdown-close {
    display: inline-block;
  }
  .cities-tabs__content {
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 70px;
    overflow: scroll;
    background-color: #fff;
  }
  .form-search-offers__cities-dropdown {
    &,
    &.collapsing {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 98;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      margin: 0!important;
    }

    .cities-tabs__link {
      padding: $btn-padding-y-lg $btn-padding-x-lg;
      border-bottom: 1px solid $border-color;
      font-size: $font-size-lg;
      margin-top: 0;
      white-space: nowrap;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      &:before {
        display: none;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .form-search-offers__search-col.col {
    flex: 100%;
  }
}