@import "../../library.blocks/bootstrap/bootstrap-reboot";

.who-we-are__title {
  font-weight: 700;
  text-transform: uppercase;
}
.who-we-are__description {
  font-size: 30px;
  font-weight: 500;
}
.who-we-are__offers-search-form {
  padding: .5rem 1rem;
  background-color: rgba(255,255,255,.3);
  border-radius: $card-border-radius;
}
.who-we-are__offers-search-form,
.who-we-are__popular-cities {
  max-width: 1024px;
  margin: auto;
}

.who-we-are__offers-search-form {
  .offers-search-form__cities-dropdown {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

@include media-breakpoint-up(lg) {
  .who-we-are__title {
    font-size: 50px;
  }
}