@import "../../library.blocks/bootstrap/bootstrap-reboot";

.registration-modal {
  .modal-footer {
    justify-content: center;
    margin-bottom: -75px;
    font-size: 1.125rem;
  }
}
.registration-modal__legend {
  text-align: center;
}