@import "../../library.blocks/bootstrap/bootstrap-reboot";

.form-booking {
  background-color: $light;
  padding: $card-spacer-x;
  border-radius: $border-radius;
}
.form-booking__price {
  display: flex;
  align-items: flex-start;
}
.form-booking__price-label {
   margin-right: .5rem;
}
.form-booking__price-value {
  font-size: 2rem;
}
.form-booking__description {
  color: $primary;
}
.form-booking__table {
  color: $text-muted;
  &.table {
    background-color: $white;
    border-radius: $border-radius;
  }
  tr:first-child td {
    border-top-width: 0;
  }
}
.form-booking__amount {
  color: $dark;
}
.form-booking__to-pay {
  color: $secondary;
}
.form-booking__alert {
  text-align: center;
}
.form-booking__informer {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}