@import "../../library.blocks/bootstrap/bootstrap-reboot";

.form-change-password__header {
  cursor: pointer;
  position: relative;
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: $card-spacer-x;
    margin: auto;
  }
}