@import "../../library.blocks/bootstrap/bootstrap-reboot";

.form-renting__form-group-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  align-items: center;
}
.form-renting__form-group-list-item {
  min-width: 235px;
}
.form-renting__size-select {
  max-width: 70px;
}

.form-renting__accordion-item_number_7 {
  .form-group {
    margin-bottom: .5rem;
  }
}