@import "../../library.blocks/bootstrap/bootstrap-reboot";

.offer-owner {
  padding: $card-spacer-x;
  background-color: $light;
  border-radius: $border-radius;
}
.offer-owner__message {
  font-size: .875rem;
  padding: $card-spacer-x;
  background-color: $white;
}
.offer-owner__message-link {
  display: block;
  font-size: 1rem;
  text-align: center;
}
.offer-owner__about {
  display: flex;
  margin-bottom: 0;
}
.offer-owner__user-avatar {
  position: relative;
}
.offer-owner__reliable-host {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
}
.offer-owner__info {
  padding-left: $card-spacer-x;
}
.offer-owner__info-title {
  font-size: 1rem;
}
.offer-owner__languages-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1rem;
  color: $text-muted;
  font-size: .875rem;
}
.offer-owner__languages-list-item {
  display: inline;
  &:not(:last-child):after {
    content: ", ";
  }
}