@import "../../library.blocks/bootstrap/bootstrap-reboot";

.authorization-or-registration__card {
  position: relative;
  color: $white;
}
.authorization-or-registration__card-body {
  padding: $card-spacer-x;
  background-color: $gray-500;
  border-radius: $card-border-radius;
}

.authorization-or-registration__card-front {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: $gray-500;
  z-index: 1;
  background-position: center;
  background-size: 120px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: $transition-base;

  @include hover-focus {
    background-color: lighten($gray-500, 5%);
  }
}
.authorization-or-registration__card-front-auth {
  background-image: url(#{$rootDir}/templates/sections/authorization-or-registration/authorization-or-registration__auth.svg);
}
.authorization-or-registration__card-front-register {
  background-image: url(#{$rootDir}/templates/sections/authorization-or-registration/authorization-or-registration__register.svg);
}