@import "../../library.blocks/bootstrap/bootstrap-reboot";

.photos-of-the-complex__slider {
  padding-left: 0;
  list-style: none;
}

.photos-of-the-complex__slider-link {
  display: block;
  height: 340px;
  background-color: $dark;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}