@import "../../library.blocks/bootstrap/bootstrap-reboot";

.page-article__article-header {
  text-align: center;
  background-color: $dark;
  color: $white;
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0,0,0,.5) 0 60px 60px inset;
}
.page-article__page-header {
  .page-header {
    border-width: 0;
  }
}

@include media-breakpoint-up(md) {
  .page-article__article-header {
    margin-top: -66px;
  }
  .page-article__article-header {
    min-height: 360px;
  }
}