@import "../../../library.blocks/bootstrap/bootstrap-reboot";

.page-index__who-we-are {
  display: flex;
  align-items: center;
  background-image: url(https://vput.ru/images/index/bg.jpg);
  background-size: cover;
  background-position: center;
  color: $white;
  background-color: $dark;

  .form-search-offers__other-filters-btn-container {
    display: none;
  }
}
.page-index__section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.page-index__page-header {
  .page-header {
    border-bottom-width: 0;
  }
}

@include media-breakpoint-up(md) {
  .page-index__who-we-are {
    min-height: 768px;
    min-height: 100vh;
  }
  .page-index__who-we-are {
    margin-top: -66px;
  }
}