@import "../../library.blocks/bootstrap/bootstrap-reboot";

.list-of-reviews {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.list-of-reviews__item:not(:last-child) {
  margin-bottom: 1.5rem;
}