@import "../../library.blocks/bootstrap/bootstrap-reboot";

.offer-main-characteristics__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  text-align: center;
}
.offer-main-characteristics__title {
  font-size: 1.25rem;
}
.offer-main-characteristics__icon {
  margin-bottom: 1rem;
}
.offer-main-characteristics__value {
  font-size: 1.25rem;
  color: $text-muted;
}