@import "../../library.blocks/bootstrap/bootstrap-reboot";

.offers-search-form {
  position: relative;

  .form-control[readonly] {
    background-color: #fff;
  }

  .input-group,
  .custom-select,
  .custom-control {
    &:hover,
    *:hover {
      cursor: pointer;
    }
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.offers-search-form__fieldset {
  padding-top: $form-group-margin-bottom;
  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}
.offers-search-form__other-filters-legend {
  margin-bottom: $form-group-margin-bottom;
}

.offers-search-form__cities-dropdown {
  &,
  &.collapsing {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
  }
}