@import "../../library.blocks/bootstrap/bootstrap-reboot";

.offers-search-form {
  position: relative;

  .form-control[readonly] {
    background-color: #fff;
  }

  .input-group,
  .custom-select,
  .custom-control {
    &:hover,
    *:hover {
      cursor: pointer;
    }
  }

  .custom-control-label {
    display: block;
  }

  .form-group {
    min-width: 135px;
    margin-top: ($form-group-margin-bottom / 2);
    margin-bottom: ($form-group-margin-bottom / 2);
  }
  .offers-search-form__search-by-complexes-col,
  .offers-search-form__cityId-col {
    min-width: 270px;
  }
}
.offers-search-form__slider {
  margin: auto;
  min-width: 240px;
  max-width: 90%;
  max-width: calc(100% - 50px);
}

.offers-search-form__fieldset {
  display: flex;
  flex-wrap: wrap;
  padding-top: ($form-group-margin-bottom / 2);
  padding-bottom: ($form-group-margin-bottom / 2);
  .col {
    min-width: 200px;
  }
  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}
.offers-search-form__legend {
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 180px;
  color: $dark;
  flex: 1 200px;
  margin-top: ($form-group-margin-bottom / 2);
  margin-bottom: ($form-group-margin-bottom / 2);
}

.offers-search-form__options-list {
  flex: 1 auto;
  align-items: center;
}

.offers-search-form__cities-dropdown {
  &,
  &.collapsing {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
  }
}

.offers-search-form__is_short {
  .col {
    flex: 1 15%;
  }
  .offers-search-form__cityId-col {
    flex: 1 40%;
  }
  .offers-search-form__show-booked,
  .offers-search-form__id-col,
  .offers-search-form__other-filters-col,
  .offers-search-form__search-by-complexes-col {
    display: none;
  }
}

.offers-search-form__cities-dropdown-close {
  position: fixed;
  background-color: $red;
  right: 0;
  top: 0;
  padding: $btn-padding-y $btn-padding-x;
  border-bottom-left-radius: $border-radius;
  z-index: 99;
  display: none;
}

@include media-breakpoint-down(md) {
  .offers-search-form__cities-dropdown-close {
    display: inline-block;
  }
  .cities-tabs__content {
    padding: 0;
  }
  .offers-search-form__cities-dropdown {
    &,
    &.collapsing {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 98;
      overflow: auto;
      margin: 0!important;
    }

    .cities-tabs__link {
      padding: $btn-padding-y-lg $btn-padding-x-lg;
      border-bottom: 1px solid $border-color;
      font-size: $font-size-lg;
      margin-top: 0;
      white-space: nowrap;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      &:before {
        display: none;
      }
    }
  }
}