@import "../../library.blocks/bootstrap/bootstrap-reboot";

.offer-item-carousel {
  list-style: none;
  padding-left: 0;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: $border-radius;
  background-color: $dark;
}

.offer-item-carousel__image.slick-slide,
.offer-item-carousel {
  height: 240px;
}
.offer-item-carousel__image.slick-slide,
.offer-item-carousel__image,
.offer-item-carousel__images-list {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.offer-item-carousel__images-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $dark;
}
.offer-item-carousel__image {
  background-color: $dark;
  transition: $transition-base;
  &:hover {
    filter: brightness(1.1);
  }
}

@include media-breakpoint-up(lg) {
  .offer-item-carousel {
    &:hover {
      .slick-prev,
      .slick-next {
        opacity: .5;
        &:hover {
          opacity: 1;
        }
      }
    }
    .slick-prev,
    .slick-next {
      opacity: 0;
    }
  }

  .offer-item-carousel__image.slick-slide,
  .offer-item-carousel {
    height: 200px;
  }
}