@import "../../library.blocks/bootstrap/bootstrap-reboot";

.image-slider {
  position: relative;
  border-radius: $border-radius;
  background-color: $dark;
  overflow: hidden;
  .slick-next {
    right: 24px;
  }
  .slick-prev {
    left: 24px;
  }
}

.image-slider__nav,
.image-slider__images-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.image-slider__nav {
  transform: translateY(120px);
  transition: $transition-base;
  z-index: 1;
  &.slick-slider {
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
  }
}
.image-slider__thumbnail {
  border-radius: $border-radius;
  background-color: $light;
}
.image-slider__slide-link {
  display: block;
}

@include media-breakpoint-up(md) {
  .image-slider:hover {
    .image-slider__nav {
      transform: translateY(0);
    }
  }
}
@include media-breakpoint-down(md) {
  .image-slider {
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);
    border-radius: 0;
  }
}