@import "../../library.blocks/bootstrap/bootstrap-common";

.popular-cities {
  font-size: 1.125rem;
  margin-bottom: 0;
  display: inline-flex;
  &:hover {
    .popular-cities__link {
      opacity: .6;
      &:hover {
        opacity: 1;
        color: $light;
        border-color: $light;
        text-decoration: none;
      }
    }
  }
}
.popular-cities__link {
  border-bottom: 1px solid transparentize($light, .2);
  cursor: pointer;
  color: transparentize($light, .2);
  transition: $transition-base;
}