@import "../../library.blocks/bootstrap/bootstrap-reboot";

.offer-facilities__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  columns: 2;
}
.offer-facilities__list-item {
  margin-bottom: .75rem;
  color: $text-muted;
  text-decoration: line-through;
  margin-left: 32px;
}
.offer-facilities__list-item_is_checked {
  position: relative;
  text-decoration: none;
  color: initial;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -28px;
    margin: auto;
    height: 16px;
    width: 16px;
    background-image: url(#{$rootDir}/templates/common.blocks/icon/icon__tick.svg);
    background-size: cover;
    background-position: center;
  }
}