@import "../../library.blocks/bootstrap/bootstrap-reboot";

.latest-reviews {
  .offer-item__title:before {
    display: none;
  }
}
.latest-reviews__title {
  text-align: center;
  text-transform: uppercase;
}

@include media-breakpoint-up(md) {
  .latest-reviews {
    .slick-slide {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .reviews-slider {
      &>.slick-next {
        right: -1rem;
      }
      &>.slick-prev {
        left: -1rem;
      }
    }
  }
}