@import "../../../library.blocks/bootstrap/bootstrap-reboot";

.page-add__header {
  background-color: $dark;
  color: $white;
  background-image: url(#{$rootDir}/../templates/pages/site/page-add/page-add__header-bg.jpg);
  background-position: center;
  background-size: cover;
}

@include media-breakpoint-up(lg) {
  .page-add__header {
    min-height: 300px;
    margin-top: -67px;
  }
}