@import "../../library.blocks/bootstrap/bootstrap-common";

.index-page__who-we-are {
  min-height: 768px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(https://vput.ru/images/index/bg.jpg);
  background-size: cover;
  background-position: center;
  color: $white;

  .offers-search-form__other-filters-btn-container {
    display: none;
  }
}
.index-page__section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.index-page__page-header {
  .page-header {
    border-bottom-width: 0;
  }
}
.index-page__who-we-are {
  margin-top: -66px;
}