@import "../../library.blocks/bootstrap/bootstrap-reboot";

.booking-item {
  .offer-item-carousel,
  .offer-item-carousel__image {
    border-radius: 0;
  }
}
.booking-item__communication {
  margin-bottom: 0;
}
.booking-item__id,
.booking-item__price {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
}
.booking-item__price {
  color: $secondary;
}

@include media-breakpoint-up(sm) {
  .booking-item__communication {
    display: flex;
  }
  .booking-item__communication-body {
    flex: auto;
  }
}